<a href="https://colab.research.google.com/github/caashka/programming_big_data/blob/main/%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Щукин А. П.*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print('Добро пожаловть в Python')

Добро пожаловть в Python

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
print(15 + 27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
name = "Alexander"
print(name)

Alexander

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [ ]:
print('это', 'новая', 'строка', sep='\n')

это
новая
строка

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [ ]:
print(f'сумма чисел 2 + 2 равна {2 + 2}')

сумма чисел 2 + 2 равна 4

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [ ]:
num1 = int(input('Введите число 1: '))
num2 = int(input('Введите число 2: '))
num3 = int(input('Введите число 3: '))
print('сумма введённых чисел равна ', num1 + num2 + num3)

Введите число 1: 1
Введите число 2: 2
Введите число 3: 3
сумма введённых чисел равна  6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [ ]:
full_name = input('Ваше ФИО целиком: ')
full_name = full_name.split(' ')
print(f'{full_name[0].capitalize()} {full_name[1][0].upper()}. {full_name[2][0].upper()}.')

Ваше ФИО целиком Щукин Александр Павлович
Щукин А. П.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [ ]:
text = input('Введите строку: ')
ch = input('Введите символ: ')

count = text.count(ch)
print(count)

Введите строку: -
Введите символ: asdasd
0

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [ ]:
color = input('Введите ваш любыимый цвет: ')
print(f'{color} - красивый цвет!')

Введите ваш любыимый цветчёрный
чёрный - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [ ]:
string = input('введите строку: ')
print('Длина введённой строки -', len(string))

введите строку: Sasha
Длина введённой строки - 5

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [ ]:
meaning = 42
print(meaning)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [ ]:
print(int((17 * 3) + (10 / 2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [ ]:
num_str = '100'
num_str = int(num_str) + 25
print(num_str)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [ ]:
var = 7
print('Тип переменной var -', type(var))

Тип переменной var - <class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [ ]:
a = 1000
b = 7
print(a - b)

993

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [ ]:
num_float = float(input('Введите вещественное число: '))
print(f'Квадрат числа: {num_float ** 2}')

Введите вещественное число: 13.5
Квадрат числа: 182.25

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [ ]:
num_round = float(input('Введите вещественное число: '))
print(f'Округленное число: {round(num_round, 2)}')

Введите вещественное число: 123.123123
Округленное число: 123.12

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [ ]:
result = 2.5 + 4.7
print(f'Результат: {result}')

Результат: 7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [ ]:
celsius = float(input('Введите температуру в грудусах Цельсия: '))
fahrenheit = celsius * 9/5 + 32
print(f'Температура в Фаренгейтах: {fahrenheit}')

Введите температуру в грудусах Цельсия: 24
Температура в Фаренгейтах: 75.2

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [ ]:
length = float(input('Введите длину прямоугольника: '))
width = float(input('Введите ширину прямоугольника: '))
area = length * width
perimeter = 2 * (length + width)
print(f'Площадь: {area}, Периметр: {perimeter}')

Введите длину прямоугольника: 12.5
Введите ширину прямоугольника: 13
Площадь: 162.5, Периметр: 51.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [ ]:
s = "Python - самый популярный язык программирования"
print(s)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [ ]:
s = "Привет, мир!"
print(f"Первый символ: {s[0]}, Последний символ: {s[-1]}")

Первый символ: П, Последний символ: !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [ ]:
s1, s2, s3 = "МИИГАиК - ", "Лучший ", "ВУЗ!"
result = s1 + s2 + s3
print(result)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [ ]:
s = "12345"
num = int(s)
print(f"Тип: {type(num)}")

Тип: <class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [ ]:
s = "python is Fun"
print(s.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [ ]:
arr = [10, 20, 30, 40, 50]
print(arr)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [ ]:
arr.append("новый элемент")
print(arr)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [ ]:
arr_programming = ['python', 'java', 'c++', 'ruby', 'perl']
print(arr_programming[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [ ]:
def test():
  return 'i`m function'

arr = []
arr.append(1)
arr.append("hello")
arr.append(test)
print(arr)

[1, 'hello', <function test at 0x7d5fc26c0c20>]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [ ]:
arr = [1, 2, 3, 4, 5]
arr[1] = 200
print(arr)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [ ]:
tup = (1, 2, 3, 4, 5)
print(tup)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [ ]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

тип данных  tuple - неизменяемый

####3. Преобразуйте кортеж в строку и выведите результат.

In [ ]:
s = str(tup)
print(s)

(1, 2, 3, 4, 5)

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [ ]:
tup = (1, 2, 3, 4, 5)
element = 3
print(f"Элемент {element} {'присутствует' if element in tup else 'отсутствует'} в кортеже {tup}")

Элемент 3 присутствует в кортеже (1, 2, 3, 4, 5)

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [ ]:
tup = (1, 1, 2, 2, 2, 3)
element = 2
print(f"Количество элементов {element}: {tup.count(element)}")

Количество элементов 2: 3

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [ ]:
d = {"имя": "Александр", "возраст": 21, "город": "Москва"}
print(d)

{'имя': 'Александр', 'возраст': 21, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [ ]:
print(d["имя"])

Александр

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [ ]:
d["профессия"] = "Программист"
print(d)

{'имя': 'Александр', 'возраст': 21, 'город': 'Москва', 'профессия': 'Программист'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [ ]:
del d["город"]
print(d)

{'имя': 'Александр', 'возраст': 21, 'профессия': 'Программист'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [ ]:
d = {}
key = input("Введите ключ: ")
value = input("Введите значение: ")
d[key] = value
print(d)

Введите ключ: животное
Введите значение: кот
{'животное': 'кот'}